User/*
!User/Package Control.sublime-settings
!User/Default (Linux).sublime-keymap 
!User/Default (Linux).sublime-mousemap
!User/Preferences.sublime-settings
.bash_history
*/config_test/*
*/__pycache__/*
notes.txt
*.[oa]
